.product-col {
    flex: none!important;
    width: 280px!important;
}

.category-title {
    width: 100%;
}

.category {
    margin: 0!important;
}

.product-row-holder {
    justify-content: center;
}