.product-detail-page {
    margin: 0; 
    padding: 60px;
    background-color: #555;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.product-detail-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-detail-header img {
    width: 150px;
}

.product-detail-header h1 {
    font-size: 24px;
}

.product-detail-information {
    padding: 20px;
}

.product-detail-information h2 {
    font-size: 18px;
}

.product-detail-information ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-detail-information li {
    margin-bottom: 20px;
}


.product-detail-images {
    padding: 20px;
}

.product-detail-images h2 {
    font-size: 18px;
}

.product-detail-images ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-detail-images li {
    margin-bottom: 20px;
}

.product-detail-images img {
    width: auto;
}

.product-detail-actions {
    display: flex;
    justify-content: center;
}

.buy-button, .add-to-cart-button {
    background-color: #4CAF50;
    color: #fff;
    border-radius: .5rem;
}
.buy-button:hover, .add-to-cart-button:hover {
    background-color: #3e8e41; 
}