.footer {
  background-color: #222;
  width: 100%;
  min-height: 70px;
  height: auto;
  border-top: 2px solid var(--primary-color);
  color: #fff;
}

.footer a, .footer p {
  color: #bbb;
}

.footer__header {
  margin-bottom: 20px;
}

.footer__header h2 {
  font-size: 28px;
  font-weight: bold;
  text-decoration: underline;
}

.footer__about h3,
.footer__subscription h3,
.footer__links h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer__subscription form {
  display: flex;
}

.footer__subscription input[type="email"] {
  flex: 1;
  margin-right: 10px;
}

.footer__links {
  text-align: center;
}

.footer__links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__links ul li a {
  text-decoration: none;
}

.footer__links ul li a:hover {
  color: var(--primary-color);
}

.footer__copyright {
  color: #fff !important;
  float: left;
  font-family: var(--title-font);
}

.footer__social-links {
  list-style-type: none;
}

.footer__social-links i {
  font-size: 1.5em;
  color: #fff;
}

.footer__social-links i:hover {
  color: var(--primary-color);
}