.shop {
    margin-top: 5rem;
    padding: 4rem 1rem;
    overflow: hidden;
    max-width: 1300px!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shop-holder {
    width: fit-content;
    margin: 0 auto;
}