.login-screen {
  background-image: linear-gradient(to bottom right, #007bff, #6c757d);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form-wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.form-label {
  font-weight: bold;
}

.form-control-lg {
  font-size: 1.2rem;
  padding: 0.8rem 1rem;
}

.btn-lg {
  font-size: 1.2rem;
  padding: 0.8rem 1rem;
}

.btn-block {
  width: 100%;
}