.shop {
    margin-top: 5rem;
    padding: 4rem 1rem;
    overflow: hidden;
    max-width: 1300px!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shop-holder {
    background-image: linear-gradient(to bottom right, #007bff, #6c757d);
    width: 100%;
    margin: 0 auto;
}